RewriteEngine On

# Security
RedirectMatch 404 /\.git
RedirectMatch 404 secrets.env

# Do not rewrite real files/directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# MediaWiki entry points
RewriteRule ^api\.php$ - [L]
RewriteRule ^load\.php$ - [L]
RewriteRule ^img_auth\.php$ - [L]
RewriteRule ^opensearch_desc\.php$ - [L]
RewriteRule ^rest\.php$ - [L]
RewriteRule ^thumb\.php$ - [L]

# Short URLs
RewriteRule ^(.*)$ index.php [L,QSA]